*{
    border: solid black 1px;
}
.highlight {
    border: yellow solid 1px;
}
.vert-center-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.vert-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#app {
    position: absolute;
    inset: 0;
}

.header {
    height: 12%;
    margin-bottom: 1%;
}

.matchup {
    height: 80%;
}
#searchInp {
    font-size: 1.5rem;
    margin: 10px;
}
.filters {
    font-size: 1.2rem;
    margin-top: 10px;
}
.team-column {
    width: 40%;
    height: 100%;
    border: solid pink 2px;
}
.center-block {
    width: 20%;
    height: 100%;
    border: solid pink 2px;
}